<a href="https://colab.research.google.com/github/calosos/py_resumenes_codigos/blob/main/Sesion-08/Ejemplo-01/conectandose.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Ejemplo 1: Conectándose a una base de datos remota

### 1. Objetivos:
    - Usar `mysql-connector-python` para conectarse a una base de datos remota.
 
---
    
### 2. Desarrollo:

#### a) Realizar una conexión y el `cursor`

Para conectarnos necesitamos primero importar la librería:

In [4]:

!pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.0.28-cp37-cp37m-manylinux1_x86_64.whl (37.6 MB)
     |████████████████████████████████| 37.6 MB 1.2 MB/s
Requirement already satisfied: protobuf>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from mysql-connector-python) (3.17.3)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.7/dist-packages (from protobuf>=3.0.0->mysql-connector-python) (1.15.0)
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.0.28

In [5]:
import mysql.connector

Después necesitamos saber la siguiente información acerca de la instancia de MySQL a la que queremos conectarnos:

1. Host
2. Puerto
3. Usuario
4. Contraseña
5. Base de datos a la que queremos conectarnos (recuerda que MySQL **no** es una base de datos, es un Sistema de Gestión de Bases de Datos; es decir, es software que nos ayuda a organizar bases de datos para que sean de fácil acceso)

Todos esos datos los usamos para crear una conexión:

In [6]:
# Llenar esta información con los datos que te compartan los ingenieros de Bedu

cnx = mysql.connector.connect(
    host="ec2-35-87-219-230.us-west-2.compute.amazonaws.com",
    port=3306,
    user="data",
    password='khQ9--mp6LWq97iA',
    database='movielens'#traer un abse de datps especifiva  
)

In [ ]:
Host: ec2-35-87-219-230.us-west-2.compute.amazonaws.com
Port: 3306
User: data
Password: khQ9--mp6LWq97iA

Ahora, para poder realizar lecturas a nuestra base de datos, tenemos que crear un objeto llamado `cursor`:

In [7]:
cursor = cnx.cursor()

Éste objeto lo podemos usar para realizar cualquier consulta en lenguaje SQL. Por ejemplo, veamos qué tablas existen en nuestra base de datos:

In [11]:
cursor.execute("SHOW TABLES")

Después de ejecutar el comando, tenemos que extraer la información de esta manera:

In [9]:
result = cursor.fetchall()

In [10]:
result

[('age_ranges',), ('movies',), ('occupations',), ('ratings',), ('users',)]

Listo. Sabemos que tenemos 5 tablas en nuestra base de datos.

Por último, es importante cerrar nuestro `cursor` para no utilizar memoria extra en nuestra computadora:

In [ ]:
cursor.close()