<a href="https://colab.research.google.com/github/calosos/py_resumenes_codigos/blob/main/Arrays_Ort%C3%ADz_Su%C3%A1rez_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **Ejercicio 1:** Array Aleatorio

In [ ]:
import numpy as np

In [ ]:
lista= []
for i in range(1,101):
  lista.append(np.random.randint(100))
print(lista)

[31, 40, 9, 94, 10, 40, 42, 16, 40, 80, 66, 74, 63, 15, 2, 60, 56, 13, 31, 47, 88, 87, 58, 47, 45, 69, 76, 23, 23, 10, 9, 69, 69, 47, 65, 24, 14, 42, 6, 54, 64, 96, 89, 89, 5, 24, 17, 83, 32, 69, 51, 88, 71, 20, 92, 86, 2, 98, 16, 92, 14, 92, 75, 93, 10, 27, 67, 5, 45, 85, 23, 48, 65, 5, 60, 41, 42, 2, 8, 87, 44, 36, 48, 7, 94, 0, 40, 40, 33, 40, 62, 29, 22, 11, 13, 77, 71, 84, 19, 29]

In [ ]:
lista_np= np.array(lista)
lista_np

array([31, 40,  9, 94, 10, 40, 42, 16, 40, 80, 66, 74, 63, 15,  2, 60, 56,
       13, 31, 47, 88, 87, 58, 47, 45, 69, 76, 23, 23, 10,  9, 69, 69, 47,
       65, 24, 14, 42,  6, 54, 64, 96, 89, 89,  5, 24, 17, 83, 32, 69, 51,
       88, 71, 20, 92, 86,  2, 98, 16, 92, 14, 92, 75, 93, 10, 27, 67,  5,
       45, 85, 23, 48, 65,  5, 60, 41, 42,  2,  8, 87, 44, 36, 48,  7, 94,
        0, 40, 40, 33, 40, 62, 29, 22, 11, 13, 77, 71, 84, 19, 29])

In [ ]:
print(f'El promedio de la lista aleatoria es: {lista_np.mean()}')

El promedio de la lista aleatoria es: 46.31

### **Ejercicio 2:** Función suma y factorial

In [ ]:
numero = int(input("Ingrese el número para hallar el factorial: "))
res = np.math.factorial(numero)
print(res)

Ingrese el número para hallar el factorial: 5
120

In [ ]:
num_inicio = int(input("Ingrese el número en que inicia la serie: "))
num_fin = int(input("Ingrese el número en que termina la serie: "))
resp = np.array(range(num_inicio,num_fin+1))
print(resp.sum())

Ingrese el número en que inicia la serie: 1
Ingrese el número en que termina la serie: 5
15

### **Ejercicio 3:** Media y mediana sueldos netos

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd

In [56]:
df = pd.read_csv('/content/drive/MyDrive/para borrar/csv_Salarios Openqube - 2020.02.csv')
df.head()

,Timestamp,Me identifico,Tengo,Estoy trabajando en,Dónde estás trabajando,Bolivia,Chile,Colombia,Cuba,Costa Rica,...,¿Con cuántas personas estás conviviendo?,¿Con quiénes convivís?,¿Tenés un espacio dedicado para el trabajo?,¿Tenés que compartir tu equipo de trabajo con alguien?,¿Qué tipo de cuarentena estás haciendo?,¿Cambió tu situación laboral a raíz de la pandemia?,¿Qué tanto sentís que te está apoyando tu empresa en esta situación?,¿Cómo se vio afectada tu empresa?,¿Instauraron algún beneficio nuevo?,"¿Cuáles considerás que son las mejores empresas de IT para trabajar en este momento, en tu ciudad?"
0,7/6/2020 9:56:02,Mujer,26,Argentina,Ciudad Autónoma de Buenos Aires,NaN,NaN,NaN,NaN,NaN,...,0,Vivo solo/a,No,No,4,Decidí buscar otro trabajo,7,No la afectó,No,NaN
1,7/6/2020 9:57:09,Hombre,29,Argentina,Corrientes,NaN,NaN,NaN,NaN,NaN,...,1,-,No,No,3,"Cambié de trabajo, pero no por la pandemia",8,No la afectó,No,NaN
2,7/6/2020 9:58:09,Mujer,22,Argentina,Ciudad Autónoma de Buenos Aires,NaN,NaN,NaN,NaN,NaN,...,1,Pareja,No,No,4,"Cambié de trabajo, pero no por la pandemia",8,Se vio beneficiada,"Clases de gimnasia, Clases de meditación, Clas...",NaN
3,7/6/2020 9:59:52,Hombre,39,Argentina,Corrientes,NaN,NaN,NaN,NaN,NaN,...,1,Pareja,Sí,No,4,No,4,"Cerró oficinas, Bajaron los sueldos o pagan pa...",No,NaN
4,7/6/2020 10:01:27,Hombre,32,Argentina,Ciudad Autónoma de Buenos Aires,NaN,NaN,NaN,NaN,NaN,...,2,"Pareja, Hijos/as (tiempo completo)",Sí,No,3,No,6,Nos obligaron a tomarnos vacaciones,No,NaN

In [63]:

arreglo_salario_neto = list(df['Salario mensual NETO (en tu moneda local)'])
arreglo_salario_neto

['43000',
 '63000',
 '127000',
 '102000',
 '106000',
 '44000',
 '62400',
 '37500',
 '75000',
 '39000',
 '36800',
 '94621',
 '63000',
 '92000',
 '80000',
 '75000',
 '100000',
 '70000',
 '93000',
 '68000',
 '80000',
 '47950',
 '84000',
 '38460',
 '66000',
 '98700',
 '200000',
 '31000',
 '60000',
 '74000',
 '88900',
 '137000',
 '45000',
 '51000',
 '168000',
 '31955',
 '90000',
 '132000',
 '84000',
 '56000',
 '122000',
 '50138',
 '280000',
 '130000',
 '126500',
 '64500',
 '38943',
 '65023',
 '168000',
 '43824',
 '90000',
 '40000',
 '50000',
 '74144',
 '82000',
 '72000',
 '80000',
 '57117',
 '75000',
 '75000',
 '21995',
 '345420',
 '67000',
 '72000',
 '1571362',
 '130000',
 '36000',
 '49800',
 '265000',
 '47875',
 '40000',
 '55000',
 '111000',
 '80000',
 '150000',
 '80000',
 '44500',
 '48000',
 '100000',
 '93000',
 '300000',
 '50000',
 '78000',
 '74989',
 '34500',
 '48000',
 '106000',
 '95000',
 '125000',
 '42000',
 '120000',
 '41500',
 '102000',
 '34000',
 '280000',
 '55000',
 '65000',
 '85000',
 '199000',
 '140000',
 '92500',
 '43000',
 '29822',
 '117000',
 '35500',
 '27',
 '68768.51',
 '67',
 '14000',
 '80000',
 '49000',
 '95',
 '51209',
 '47000',
 '39000',
 '60963',
 '70000',
 '75700',
 '100000',
 '70000',
 '100000',
 '48000',
 '220000',
 '99000',
 nan,
 '71000',
 nan,
 '120000',
 '90000',
 '33200',
 '230000',
 '36900',
 '65000',
 '54000',
 '65000',
 '50888',
 '66815',
 '170000',
 '46750',
 '93000',
 '106000',
 '100000',
 nan,
 '88500',
 '44000',
 '84900',
 '65000',
 '48000',
 '240000',
 '84000',
 '48000',
 '55000',
 '56000',
 '51',
 '35200',
 '200000',
 '29500',
 '75000',
 '70000',
 '29880',
 '57000',
 '150000',
 '53000',
 '57000',
 '78400',
 '70',
 '95000',
 '92650',
 '62',
 '83000',
 '81000',
 '69000',
 '41500',
 '41500',
 '120000',
 '38000',
 '40700',
 '72000',
 '46000',
 '95000',
 '62500',
 '101000',
 '146000',
 '104000',
 '45000',
 '82000',
 '40000',
 '27500',
 '108000',
 '89000',
 '120000',
 '120000',
 '87000',
 '48000',
 '150000',
 '85000',
 '50000',
 '155000',
 '86000',
 '90000',
 '92000',
 '67000',
 '85000',
 '69',
 '52000',
 '56586',
 '92650',
 '73000',
 '89000',
 '87000',
 '170000',
 '47000',
 '65000',
 '68000',
 '100000',
 '70000',
 '93500',
 '93000',
 '153000',
 '40000',
 '80000',
 '94000',
 '54000',
 '38000',
 '105000',
 '80000',
 '127',
 '70000',
 '5000',
 '31500',
 '32125',
 '54000',
 '35674',
 '121000',
 '77000',
 '50000',
 '200000',
 '93000',
 '115000',
 '58500',
 '110000',
 '33560',
 '130000',
 '100000',
 '84000',
 '18.23',
 '2000000',
 '38000',
 nan,
 '27000',
 '83000',
 '60',
 '75000',
 '185000',
 '150000',
 '64552',
 '90000',
 '48000',
 nan,
 '40000',
 '165000',
 '77000',
 '37000',
 '88000',
 '169000',
 '105000',
 '500000',
 '41385.75',
 '68000',
 '68000',
 '40000',
 '230000',
 '380000',
 '21000',
 '50000',
 '44000',
 '29880',
 '43000',
 '32700',
 '34500',
 '19800',
 '32.8',
 '93000',
 '76000',
 '92000',
 '76000',
 '25000',
 '50400',
 '77000',
 '340000',
 '69000',
 '120000',
 '94000',
 '39',
 '44000',
 '70',
 '43050',
 '42413',
 '70000',
 '39800',
 '300000',
 '340099',
 '83000',
 '100000',
 '65000',
 '88000',
 nan,
 '45000',
 '430000',
 '35000',
 '68000',
 '89000',
 nan,
 '103330',
 '40000',
 '120000',
 '115000',
 '73500',
 '122000',
 nan,
 '167033',
 '50000',
 '120000',
 '422500',
 '41000',
 nan,
 '70500',
 '210000',
 '135000',
 '110000',
 '32900',
 '73500',
 '80000',
 '103057',
 '75000',
 '42000',
 '140000',
 '68000',
 '46200',
 '120000',
 '138500',
 '32000',
 nan,
 nan,
 '95000',
 '65000',
 '47000',
 '91000',
 '144000',
 '83000',
 '50000',
 '53950',
 '43000',
 '54000',
 '56741',
 '64000',
 '45000',
 nan,
 '105000',
 '78000',
 '99000',
 '68000',
 '96000',
 '85000',
 '95000',
 '30000',
 '54946',
 '47400',
 '93000',
 '110000',
 '165000',
 '57967',
 '31495',
 '91000',
 '130000',
 '100000',
 '113000',
 '66393',
 '104000',
 '80000',
 '45000',
 '49000',
 '82000',
 '65343',
 '60000',
 '58000',
 '132000',
 '56400',
 nan,
 '50069.76',
 '60000',
 '40600',
 '48000',
 '44300',
 '41000',
 '53000',
 '16000',
 '40000',
 '90000',
 '32000',
 '140000',
 '100000',
 '22000',
 '38000',
 '88000',
 '38000',
 '62700',
 '270000',
 '2000000',
 '110000',
 '67',
 '38000',
 '75000',
 '35000',
 '58',
 '275000',
 '1000000',
 '49000',
 '62250',
 '130000',
 '75000',
 '220000',
 '52000',
 '85000',
 '95000',
 '71000',
 '115000',
 nan,
 '90000',
 '65000',
 '38000',
 '130000',
 '1',
 '130000',
 '62000',
 '200000',
 '16000',
 '35000',
 nan,
 '70000',
 '39000',
 '66000',
 '27000',
 '73000',
 '80000',
 '107',
 '380000',
 '65000',
 '75000',
 '84000',
 '58000',
 '50000',
 '72000',
 '108000',
 '100000',
 '86500',
 '62675',
 '180000',
 '80000',
 '80000',
 '14500',
 '160000',
 '55300',
 nan,
 '90000',
 '65000',
 '96000',
 '43600',
 '110000',
 '38000',
 '147497',
 '66528',
 '82000',
 '80000',
 '80000',
 '53000',
 '35000',
 nan,
 '110000',
 '80000',
 '84500',
 '54000',
 nan,
 '508000',
 '113000',
 '44000',
 '125000',
 '165000',
 '149000',
 '85',
 '66191.6',
 '72500',
 '75000',
 '67000',
 '60000',
 '95000',
 '112000',
 '50000',
 '77000',
 '55000',
 '104580',
 '130000',
 '69000',
 '330000',
 '100600',
 '85000',
 '75000',
 '150000',
 '250000',
 '97194',
 '140000',
 '240000',
 '134000',
 '41500',
 '77000',
 '40500',
 '110000',
 '109000',
 '88000',
 '250000',
 '175000',
 '69300',
 '75000',
 nan,
 '130000',
 nan,
 '86000',
 '121983',
 '141000',
 '202380',
 '78000',
 '65000',
 '58000',
 '110000',
 '100000',
 '100000',
 nan,
 '125000',
 '70000',
 '175000',
 '108000',
 '108000',
 '78000',
 '43000',
 '57000',
 '49882.17',
 '90000',
 '80000',
 nan,
 '72000',
 '79895',
 '86500',
 '58600',
 '180009',
 '90000',
 '76000',
 '90000',
 '42000',
 '144',
 '138000',
 '130000',
 '165000',
 '75900',
 '120000',
 nan,
 '73000',
 '40000',
 '74000',
 '65000',
 '140000',
 '108000',
 '48000',
 '43800',
 '136000',
 '43800',
 '102000',
 '76725',
 '59000',
 '65000',
 '160000',
 '101000',
 '101000',
 '89000',
 '100000',
 '90000',
 '49800',
 '96000',
 '55300',
 '130000',
 '70000',
 '55000',
 '15087345',
 '31590',
 '86500',
 nan,
 '85000',
 '50000',
 '85000',
 '100000',
 '160000',
 '96000',
 '100000',
 '108000',
 '84000',
 '97000',
 '130000',
 '40000',
 nan,
 '82000',
 '134000',
 '110000',
 '121000',
 '90700',
 '23000',
 nan,
 '63910',
 '237500',
 '85000',
 '60000',
 '86000',
 '125000',
 '42000',
 '76000',
 '73000',
 '100000',
 '115000',
 '90000',
 '93000',
 '85000',
 '71200',
 '38000',
 '90000',
 '90000',
 '102000',
 '85100',
 '85100',
 '60000',
 '95000',
 '110000',
 '58000',
 '47000',
 '98210',
 '115000',
 '82000',
 '78000',
 '108000',
 '370000',
 '70',
 '100000',
 '67000',
 '80000',
 '70000',
 nan,
 '92000',
 '99000',
 '54000',
 '74000',
 '38834',
 '120000',
 '53000',
 '90000',
 '140000',
 '25550',
 '79000',
 '80000',
 '50000',
 '121000',
 '80000',
 '80000',
 '99728',
 '115000',
 '42000',
 '60000',
 nan,
 '65000',
 '68000',
 '25000',
 '87000',
 '60000',
 '67000',
 '34000',
 '193000',
 '75000',
 '97000',
 '90000',
 '101000',
 '52000',
 '43000',
 '90771',
 '62000',
 '80000',
 '75',
 '99825',
 '50000',
 '73413.5',
 '37.273',
 '90000',
 '29050',
 '330000',
 '52000',
 '40000',
 '2400',
 '90000',
 '20000',
 nan,
 '108000',
 '110000',
 '116000',
 '65000',
 '60000',
 '66000',
 '75000',
 '115000',
 '56000',
 '41500',
 '99900',
 '32500',
 '48473',
 '105000',
 '65500',
 nan,
 nan,
 '143000',
 '416500',
 '90000',
 '200000',
 '107500',
 '152000',
 '95500',
 '69.9',
 '80000',
 '55000',
 '150000',
 '91300',
 '44.378',
 '62000',
 '98000',
 '23003',
 '110000',
 '105000',
 '87000',
 '80000',
 '170000',
 '33250',
 '105000',
 '64000',
 '58250',
 '39000',
 '55387',
 '123000',
 '38500',
 '30000',
 '38306.71',
 '79000',
 '60',
 '37200',
 '65000',
 '62250',
 nan,
 nan,
 '102000',
 '40',
 '248000',
 '146000',
 '74000',
 '70200',
 '34560',
 '33200',
 '95000',
 '61500',
 '46000',
 '207000',
 '109720',
 '1000000',
 '58800',
 '33000',
 '117000',
 '38000',
 '64',
 '111000',
 '62000',
 '64000',
 '82000',
 '200962',
 '100000',
 '106000',
 '67000',
 '69000',
 '36000',
 '75000',
 '14000',
 '43000',
 '59000',
 '105000',
 '92000',
 '83300',
 '300000',
 '63000',
 '120000',
 '92914',
 '50000',
 '280000',
 '80150',
 '92914',
 '65490',
 '87312',
 '35761.9',
 '480000',
 '100000',
 '52000',
 '34000',
 '90072',
 '76000',
 '124000',
 '78000',
 '84000',
 '150000',
 '111127',
 '40300',
 '21000',
 '40000',
 nan,
 '121000',
 '50000',
 '50000',
 '85000',
 '127000',
 '62558',
 '180000',
 '72300',
 '107500',
 '95000',
 '104000',
 nan,
 '75000',
 '12000',
 '70000',
 '64200',
 '180000',
 '95000',
 '110000',
 '91000',
 '48500',
 '80000',
 nan,
 '86000',
 '54000',
 '109.722',
 '96000',
 '89200',
 '76595',
 '75000',
 '85000',
 '280000',
 '107024',
 '39840',
 '53000',
 '79879',
 '92000',
 '58000',
 '28000',
 '39000',
 '240000',
 '43800',
 '110',
 '87496',
 '49800',
 '29000',
 nan,
 '40000',
 '100000',
 nan,
 '70000',
 '94000',
 '80000',
 '170000',
 '69100',
 '48815.07',
 '250000',
 '20000',
 '200000',
 '99000',
 '110000',
 '690000',
 '102000',
 '79000',
 '60000',
 '546000',
 '31000',
 '86000',
 '135000',
 '38782',
 '110000',
 '85000',
 '42700',
 nan,
 '320000',
 '39840',
 '72000',
 nan,
 '114085',
 '33000',
 '33000',
 '76670',
 '30000',
 nan,
 '75500',
 '63000',
 '210000',
 '66000',
 '80000',
 '57300',
 '82000',
 '82600',
 '45000',
 '97000',
 '86500',
 '49900',
 '97000',
 '80000',
 '137000',
 '95000',
 '39300',
 '400000',
 '71000',
 '110000',
 '200000',
 '75000',
 '100000',
 '350000',
 '20000',
 '11000',
 '178000',
 '73000',
 '160',
 '100000',
 nan,
 '153130',
 '70000',
 '100000',
 '47310',
 '50400',
 '135000',
 '50000',
 '57000',
 '12600',
 '50000',
 '130000',
 '130000',
 '135000',
 '6000',
 '107000',
 '90000',
 '164000',
 '112000',
 '120000',
 '100000',
 '57000',
 '70000',
 '106000',
 '39.5',
 '59000',
 '88000',
 '70000',
 '106000',
 '65000',
 nan,
 '132000',
 '160000',
 '78000',
 '79000',
 '96000',
 '264550',
 '59168',
 '168000',
 '66000',
 '69602',
 '140000',
 '180000',
 '41000',
 nan,
 '120000',
 '112000',
 '30000',
 '45000',
 '97000',
 '116000',
 nan,
 '100000',
 '87500',
 '106000',
 '42000',
 '72000',
 '64000',
 '170000',
 '82000',
 '83000',
 '29800',
 '50000',
 '74000',
 ...]