<a href="https://colab.research.google.com/github/calosos/py_resumenes_codigos/blob/main/C1_estadisticos_De_orden_media_desviacion_Estandar_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from scipy import stats

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Remoto Datasets/Remoto melbourne_housing-clean.csv' ,index_col=0)

In [ ]:
df.sample(5)

,suburb,address,rooms,type,price,method,seller_g,date,distance,postcode,bedroom_2,bathroom,car,land_size,council_area,latitude,longitude,region_name,property_count
88,Albert Park,29 Faussett St,2,h,2120000.0,S,Greg,10/09/2016,3.3,3206.0,2.0,1.0,1.0,199.0,Port Phillip,-37.84220,144.95540,Southern Metropolitan,3280.0
1868,Chadstone,15 Aloomba St,3,h,992000.0,S,Gary,15/10/2016,13.6,3148.0,3.0,1.0,2.0,586.0,Monash,-37.88050,145.09780,Southern Metropolitan,3582.0
3662,Kew,5/93 Princess St,3,t,732000.0,S,Nelson,26/07/2016,5.6,3101.0,3.0,1.0,1.0,904.0,Boroondara,-37.80100,145.02970,Southern Metropolitan,10331.0
8901,Northcote,26 Salisbury Gr,4,h,1900000.0,PI,Jellis,1/07/2017,5.3,3070.0,4.0,2.0,2.0,313.0,Darebin,-37.76501,145.00269,Northern Metropolitan,11364.0
10877,Burwood East,2/7 Bellevue Av,2,u,746000.0,SP,Jellis,12/08/2017,14.7,3151.0,3.0,2.0,2.0,499.0,Bayside,-37.90183,145.00882,Southern Metropolitan,4048.0

#Media y Mediana

In [ ]:
promedio =df['price'].mean()
print(f'El promedio es: {promedio}')

Este es el promedio: 1068141.895071269

In [ ]:
median = df['price'].median()    
print(f'La mediana es: {median}')

Esta es la mediana: 895500.0

#Media Truncada

La media truncada es un estimado de locación más robusto que el promedio y la mediana. Esto significa que es menos sensible a valores atípicos. La media truncada se obtiene de la siguiente manera:

Primero ordenamos nuestro conjunto de manera ascendente.
Después decidimos qué porcentaje de nuestros datos vamos a truncar. Los valores más comunes suelen variar entre 5% y 25%.
Divide el porcentaje acordado entre dos y elimina esa fracción de tus datos del inicio y del final de tu secuencia. Por ejemplo, si decides truncar un 5%, elimina el 2.5% de tus datos del inicio de tu secuencia y el otro 2.5% del final de tu secuencia.
Obtén el promedio de los valores restantes.

In [ ]:
media_truncada = stats.trim_mean(df['price'],0.10)

In [ ]:
print(f'El promedio es: {promedio}')
print(f'La mediana es: {median}')
print(f'La media truncada es: {media_truncada}')

El promedio es: 1068141.895071269
La mediana es: 895500.0
La media truncada es: 973653.7960935823

#Desviación Estándar/Tv bípica

In [16]:
df['price'].std()

643728.1914372866

Entre mayor sea nuestro resultado quiere decir que nuestros datos están más dispersos (es decir, hay muchos datos que se alejan de nuestro valor típico); entre menor sea el resultado quiere decir que nuestros datos están menos dispersos (es decir, están más cerca de nuestro valor típico).

#Rango
El rango es simplemente la diferencia entre el valor máximo de un conjunto y el valor mínimo de un conjunto. Por lo tanto, podemos obtenerla de esta manera:

In [17]:
rango  = df['price'].max() - df['price'].min()
print(f'El rango es : {rango}')

El rango es : 8915000.0

#### Percentiles

El percentil `P` es un valor que indica que por lo menos `P%` de los valores en el conjunto tienen este valor o un valor menor; mientras que `(100-P)%` de los valores tienen este valor o un valor mayor. Por ejemplo, para obtener el percentil 80 primero ordenamos nuestro conjunto de manera ascendente y después elegimos un valor de manera que el 80% de los valores en nuestro conjunto sean iguales o menores a ese valor.

En `pandas`, los percentiles están implementados como cuantiles, que es lo mismo que los percentiles pero en versión fracciones. Es decir, el percentil 80 es lo  mismo que el cuantil 0.8.

In [18]:
df['price'].quantile(0.8)

1440000.0

In [20]:
print(f'Valor mínimo: {df["price"].min()}')
print(f'Percentil 10: {df["price"].quantile(0.1)}')
print(f'Percentil 25: {df["price"].quantile(0.25)}')
print(f'Percentil 50: {df["price"].median()}')
print(f'Percentil 75: {df["price"].quantile(0.75)}')
print(f'Percentil 90: {df["price"].quantile(0.9)}')
print(f'Valor máximo: {df["price"].max()}')

Valor mínimo: 85000.0
Percentil 10: 470000.0
Percentil 25: 640000.0
Percentil 50: 895500.0
Percentil 75: 1325000.0
Percentil 90: 1850000.0
Valor máximo: 9000000.0