<a href="https://colab.research.google.com/github/calosos/py_resumenes_codigos/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

pandas viene de panell dat
pandas.pydata.org
python for data analisis o really -> Free
Data Wrngling = limpieza de data
"Garbagein, garbage out"

In [2]:
import pandas as pd
import numpy as np

##Series

In [ ]:
numeros = range(50,70, 2)
list(numeros)

[50, 52, 54, 56, 58, 60, 62, 64, 66, 68]

In [ ]:
numeros_serie = pd.Series(numeros)
print(numeros_serie) 
print(numeros_serie.values) #Values es un atributo, no lleva parentesis
#values retorna los datos  en un lista
#Metodos es objeto()
print(numeros_serie.index)#rango del indice
print(numeros_serie[2])

0    50
1    52
2    54
3    56
4    58
5    60
6    62
7    64
8    66
9    68
dtype: int64
[50 52 54 56 58 60 62 64 66 68]
RangeIndex(start=0, stop=10, step=1)
54

In [ ]:
numbers_in_text = ['first','second','third', 'fourth', 'fifth','sixth', 'seventh', 'eighth','ninth','tenth']
number_serie_2 = pd.Series(numeros, index= numbers_in_text)
print(number_serie_2)

first      50
second     52
third      54
fourth     56
fifth      58
sixth      60
seventh    62
eighth     64
ninth      66
tenth      68
dtype: int64

##DATAFRAME

In [ ]:
models  = [ 'A4 3.0 Quattro 4dr manul',
            'A4 3.0 Quattro 4dr auto',
            'A6 3.0 4dr ',
            'A6 3.0 Quattro 4dr auto',
            'A4 3.0 convertible 2dr',]
weight =[3583, 3627, 3561, 3880, 3814]
prices =[ '$33,430', '$34,480', '$36,640','$39,640', '$42,490' ]

In [ ]:
car_weight = pd.Series(weight, index= models)
print(car_weight)

A4 3.0 Quattro 4dr manul    3583
A4 3.0 Quattro 4dr auto     3627
A6 3.0 4dr                  3561
A6 3.0 Quattro 4dr auto     3880
A4 3.0 convertible 2dr      3814
dtype: int64

In [ ]:
car_prices = pd.Series(prices, index = models)
print(car_prices)

A4 3.0 Quattro 4dr manul    $33,430
A4 3.0 Quattro 4dr auto     $34,480
A6 3.0 4dr                  $36,640
A6 3.0 Quattro 4dr auto     $39,640
A4 3.0 convertible 2dr      $42,490
dtype: object

In [ ]:
cars = pd.DataFrame( {'Weight':car_weight, 'Prices': car_prices})
cars
#Crer DF con Diccionarios

                          Weight   Prices
A4 3.0 Quattro 4dr manul    3583  $33,430
A4 3.0 Quattro 4dr auto     3627  $34,480
A6 3.0 4dr                  3561  $36,640
A6 3.0 Quattro 4dr auto     3880  $39,640
A4 3.0 convertible 2dr      3814  $42,490

In [ ]:
chess_64 = np.arange(1,65)
print(chess_64) 
chess_64 =chess_64.reshape(8,8)

[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48
 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64]

In [ ]:
chess_df = pd.DataFrame(chess_64, columns=range(1,9),
             index=['A','B','C','D','E','F','G','H'])

In [ ]:
chess_df

    1   2   3   4   5   6   7   8
A   1   2   3   4   5   6   7   8
B   9  10  11  12  13  14  15  16
C  17  18  19  20  21  22  23  24
D  25  26  27  28  29  30  31  32
E  33  34  35  36  37  38  39  40
F  41  42  43  44  45  46  47  48
G  49  50  51  52  53  54  55  56
H  57  58  59  60  61  62  63  64

##SELECTION

In [ ]:
print(number_serie_2['fifth'])

58

In [ ]:
#Formal wayloc
#loc -> etiqueta
print(number_serie_2.loc['fifth'])

58

In [ ]:
#iloc -> usando indices
print(number_serie_2.iloc[4])

58

In [ ]:
#validaciones
print('fifth' in number_serie_2)

True

In [ ]:
print('first' in number_serie_2)
number_serie_2['first']= 11
number_serie_2

True

first      11
second     52
third      54
fourth     56
fifth      58
sixth      60
seventh    62
eighth     64
ninth      66
tenth      68
dtype: int64

In [ ]:
cars

                          Weight   Prices
A4 3.0 Quattro 4dr manul    3583  $33,430
A4 3.0 Quattro 4dr auto     3627  $34,480
A6 3.0 4dr                  3561  $36,640
A6 3.0 Quattro 4dr auto     3880  $39,640
A4 3.0 convertible 2dr      3814  $42,490

In [ ]:
cars.index

Index(['A4 3.0 Quattro 4dr manul', 'A4 3.0 Quattro 4dr auto', 'A6 3.0 4dr ',
       'A6 3.0 Quattro 4dr auto', 'A4 3.0 convertible 2dr'],
      dtype='object')

In [ ]:
cars.columns

Index(['Weight', 'Prices'], dtype='object')

In [ ]:
#values
cars.values

array([[3583, '$33,430'],
       [3627, '$34,480'],
       [3561, '$36,640'],
       [3880, '$39,640'],
       [3814, '$42,490']], dtype=object)

In [ ]:
cars.Weight

A4 3.0 Quattro 4dr manul    3583
A4 3.0 Quattro 4dr auto     3627
A6 3.0 4dr                  3561
A6 3.0 Quattro 4dr auto     3880
A4 3.0 convertible 2dr      3814
Name: Weight, dtype: int64

In [ ]:
cars['Weight'] #Recomendble

A4 3.0 Quattro 4dr manul    3583
A4 3.0 Quattro 4dr auto     3627
A6 3.0 4dr                  3561
A6 3.0 Quattro 4dr auto     3880
A4 3.0 convertible 2dr      3814
Name: Weight, dtype: int64

In [ ]:
cars.values[1]#Para filas

array([3627, '$34,480'], dtype=object)

In [ ]:
#formato pandas
cars.loc['A4 3.0 Quattro 4dr auto', ]

Weight       3627
Prices    $34,480
Name: A4 3.0 Quattro 4dr auto, dtype: object

In [ ]:
#conditions
cars['Weight'] >=3600

A4 3.0 Quattro 4dr manul    False
A4 3.0 Quattro 4dr auto      True
A6 3.0 4dr                  False
A6 3.0 Quattro 4dr auto      True
A4 3.0 convertible 2dr       True
Name: Weight, dtype: bool

In [ ]:
#Use condition as index
cars.loc[cars['Weight'] >= 3600,'Prices']

A4 3.0 Quattro 4dr auto    $34,480
A6 3.0 Quattro 4dr auto    $39,640
A4 3.0 convertible 2dr     $42,490
Name: Prices, dtype: object

In [ ]:
#trnsposici√≥n= cambiar la fil por columa
cars.T

,A4 3.0 Quattro 4dr manul,A4 3.0 Quattro 4dr auto,A6 3.0 4dr,A6 3.0 Quattro 4dr auto,A4 3.0 convertible 2dr
Weight,3583,3627,3561,3880,3814
Prices,"$33,430","$34,480","$36,640","$39,640","$42,490"

##Operations

In [ ]:
weight

[3583, 3627, 3561, 3880, 3814]

In [ ]:
models

['A4 3.0 Quattro 4dr manul',
 'A4 3.0 Quattro 4dr auto',
 'A6 3.0 4dr ',
 'A6 3.0 Quattro 4dr auto',
 'A4 3.0 convertible 2dr']

In [ ]:
large = [179,179, 192,192, 180]
cars_2 = pd.DataFrame({'Weight':weight,'Large':large},  index=models)
cars_2

                          Weight  Large
A4 3.0 Quattro 4dr manul    3583    179
A4 3.0 Quattro 4dr auto     3627    179
A6 3.0 4dr                  3561    192
A6 3.0 Quattro 4dr auto     3880    192
A4 3.0 convertible 2dr      3814    180

In [ ]:
cars_2.iloc[0]

Weight    3583
Large      179
Name: A4 3.0 Quattro 4dr manul, dtype: int64

In [ ]:
cars_2/ cars_2.iloc[0]

                            Weight     Large
A4 3.0 Quattro 4dr manul  1.000000  1.000000
A4 3.0 Quattro 4dr auto   1.012280  1.000000
A6 3.0 4dr                0.993860  1.072626
A6 3.0 Quattro 4dr auto   1.082891  1.072626
A4 3.0 convertible 2dr    1.064471  1.005587

In [ ]:
cars_2/ cars_2.iloc[0]*100

                              Weight       Large
A4 3.0 Quattro 4dr manul  100.000000  100.000000
A4 3.0 Quattro 4dr auto   101.228021  100.000000
A6 3.0 4dr                 99.385989  107.262570
A6 3.0 Quattro 4dr auto   108.289143  107.262570
A4 3.0 convertible 2dr    106.447111  100.558659

In [ ]:
numbers_in_text

['first',
 'second',
 'third',
 'fourth',
 'fifth',
 'sixth',
 'seventh',
 'eighth',
 'ninth',
 'tenth']

In [ ]:
numbers_3 = range(51,70,2)
list(numbers_3)

[51, 53, 55, 57, 59, 61, 63, 65, 67, 69]

In [ ]:
number_serie_3 = pd.Series(numbers_3, index=numbers_in_text)
number_serie_3

first      51
second     53
third      55
fourth     57
fifth      59
sixth      61
seventh    63
eighth     65
ninth      67
tenth      69
dtype: int64

In [ ]:
print(number_serie_2 + number_serie_3 )

first       62
second     105
third      109
fourth     113
fifth      117
sixth      121
seventh    125
eighth     129
ninth      133
tenth      137
dtype: int64

In [ ]:
#Suma con una constante
print(number_serie_3*1.5)

first       76.5
second      79.5
third       82.5
fourth      85.5
fifth       88.5
sixth       91.5
seventh     94.5
eighth      97.5
ninth      100.5
tenth      103.5
dtype: float64

In [ ]:
number_serie_2_position = number_serie_2[4:7]
number_serie_2_position

fifth      58
sixth      60
seventh    62
dtype: int64

In [ ]:
number_serie_3_position = number_serie_3[5:8]
number_serie_3_position

sixth      61
seventh    63
eighth     65
dtype: int64

In [ ]:
number_serie_2_position +number_serie_3_position
#Las que tienen el mismo indise suman, difetenes indice no los sumo
#NaN not a numbes, valor nulo, valo vaci√≥#cualquier operacion  con nan da resultado nan

eighth       NaN
fifth        NaN
seventh    125.0
sixth      121.0
dtype: float64

In [ ]:
print(65 + np.nan)

nan

In [ ]:
#fill vales
print(number_serie_2_position.add(number_serie_3_position, fill_value=0))#rellenar nn con  0

eighth      65.0
fifth       58.0
seventh    125.0
sixth      121.0
dtype: float64

##NOT A NUMBER

In [ ]:
nan_value = np.nan

In [ ]:
np.NAN

nan

In [ ]:
np.NaN

nan

In [ ]:
type(nan_value)

float

In [ ]:
nan_value*55

nan

In [ ]:
np.nanprod([2, nan_value])

2.0

In [ ]:
nan_numbers= number_serie_2_position+number_serie_3_position
nan_numbers

In [ ]:
nan_numbers.isnull()

eighth      True
fifth       True
seventh    False
sixth      False
dtype: bool

In [ ]:
#sumacasosverdderos
nan_numbers.isnull().sum()

2

In [ ]:
#delete  nan
nan_numbers.dropna()

seventh    125.0
sixth      121.0
dtype: float64

In [ ]:
#fill nan  with n
nan_numbers.fillna(0)

eighth       0.0
fifth        0.0
seventh    125.0
sixth      121.0
dtype: float64

##Agregaciones
son tipo de operci√≥n
son sobre un conjunto de datos
retornan un resu√±ltdp que es un medid resumen
sum, mean, max std, var -> 
csv coma value separate
Para un webinar no usar colan para demo

In [ ]:
df_rains= pd.read_csv('/content/drive/MyDrive/para borrar/Copia de pune_1965_to_2002.csv')
df_rains.head()#n

,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
0,1965,0.029,0.069,0.000,21.667,17.859,102.111,606.071,402.521,69.511,5.249,16.232,22.075
1,1966,0.905,0.000,0.000,2.981,63.008,94.088,481.942,59.386,150.624,1.308,41.214,4.132
2,1967,0.248,3.390,1.320,13.482,11.116,251.314,780.006,181.069,183.757,50.404,8.393,37.685
3,1968,0.318,3.035,1.704,23.307,7.441,179.872,379.354,171.979,219.884,73.997,23.326,2.020
4,1969,0.248,2.524,0.334,4.569,6.213,393.682,678.354,397.335,205.413,24.014,24.385,1.951

In [ ]:
#form
df_rains.shape

(38, 13)

In [ ]:
df_rains.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38 entries, 0 to 37
Data columns (total 13 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Year    38 non-null     int64
 1   Jan     38 non-null     float64
 2   Feb     38 non-null     float64
 3   Mar     38 non-null     float64
 4   Apr     38 non-null     float64
 5   May     38 non-null     float64
 6   Jun     38 non-null     float64
 7   Jul     38 non-null     float64
 8   Aug     38 non-null     float64
 9   Sep     38 non-null     float64
 10  Oct     38 non-null     float64
 11  Nov     38 non-null     float64
 12  Dec     38 non-null     float64
dtypes: float64(12), int64(1)
memory usage: 4.0 KB

In [ ]:
index_rains  = list(df_rains.Year)
index_rains

[1965,
 1966,
 1967,
 1968,
 1969,
 1970,
 1971,
 1972,
 1973,
 1974,
 1975,
 1976,
 1977,
 1978,
 1979,
 1980,
 1981,
 1982,
 1983,
 1984,
 1985,
 1986,
 1987,
 1988,
 1989,
 1990,
 1991,
 1992,
 1993,
 1994,
 1995,
 1996,
 1997,
 1998,
 1999,
 2000,
 2001,
 2002]

In [ ]:
df_rains.columns

Index(['Year', 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep',
       'Oct', 'Nov', 'Dec'],
      dtype='object')

In [ ]:
columns_rains = df_rains.columns[1:]
columns_rains

Index(['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct',
       'Nov', 'Dec'],
      dtype='object')

In [ ]:
values_rains= df_rains.values[:,1:]

transform data

In [ ]:
#now index is the year
df_rains_2 = pd.DataFrame( values_rains, index=index_rains, columns=columns_rains)
df_rains_2.head()

,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
1965,0.029,0.069,0.000,21.667,17.859,102.111,606.071,402.521,69.511,5.249,16.232,22.075
1966,0.905,0.000,0.000,2.981,63.008,94.088,481.942,59.386,150.624,1.308,41.214,4.132
1967,0.248,3.390,1.320,13.482,11.116,251.314,780.006,181.069,183.757,50.404,8.393,37.685
1968,0.318,3.035,1.704,23.307,7.441,179.872,379.354,171.979,219.884,73.997,23.326,2.020
1969,0.248,2.524,0.334,4.569,6.213,393.682,678.354,397.335,205.413,24.014,24.385,1.951

In [3]:
#Forma r√°pida
df_rains_2 = pd.read_csv('/content/drive/MyDrive/para borrar/Copia de pune_1965_to_2002.csv', index_col = 'Year')
df_rains_2.head()

,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
Year,,,,,,,,,,,,
1965,0.029,0.069,0.000,21.667,17.859,102.111,606.071,402.521,69.511,5.249,16.232,22.075
1966,0.905,0.000,0.000,2.981,63.008,94.088,481.942,59.386,150.624,1.308,41.214,4.132
1967,0.248,3.390,1.320,13.482,11.116,251.314,780.006,181.069,183.757,50.404,8.393,37.685
1968,0.318,3.035,1.704,23.307,7.441,179.872,379.354,171.979,219.884,73.997,23.326,2.020
1969,0.248,2.524,0.334,4.569,6.213,393.682,678.354,397.335,205.413,24.014,24.385,1.951

In [ ]:
#sum rains

df_rains_2.sum()

Jan       11.186
Feb       41.843
Mar       63.733
Apr      470.487
May      952.272
Jun    12809.663
Jul    16340.395
Aug    10529.357
Sep     7642.245
Oct     2783.320
Nov      958.492
Dec      230.646
dtype: float64

In [ ]:
df_rains_2.sum(axis  ='columns')

1965    1263.394
1966     899.588
1967    1522.184
1968    1086.237
1969    1739.022
1970    1273.507
1971    1176.612
1972     710.475
1973    1570.073
1974    1425.876
1975    1777.838
1976    1941.167
1977    1202.154
1978    1168.583
1979    1769.187
1980    1268.185
1981    1562.761
1982     943.087
1983    1616.948
1984    1538.961
1985    1214.852
1986    1267.969
1987    1197.999
1988    1822.649
1989    1400.024
1990    1766.294
1991    1497.256
1992    1323.883
1993    1210.252
1994    1987.689
1995    1209.068
1996    1631.331
1997    1844.840
1998    1603.243
1999    1235.683
2000    1094.062
2001    1045.825
2002    1024.881
dtype: float64

In [ ]:
df_rains_2.mean()

Jan      0.294368
Feb      1.101132
Mar      1.677184
Apr     12.381237
May     25.059789
Jun    337.096395
Jul    430.010395
Aug    277.088342
Sep    201.111711
Oct     73.245263
Nov     25.223474
Dec      6.069632
dtype: float64

In [ ]:
df_rains_2.mean(axis= 'columns')

1965    105.282833
1966     74.965667
1967    126.848667
1968     90.519750
1969    144.918500
1970    106.125583
1971     98.051000
1972     59.206250
1973    130.839417
1974    118.823000
1975    148.153167
1976    161.763917
1977    100.179500
1978     97.381917
1979    147.432250
1980    105.682083
1981    130.230083
1982     78.590583
1983    134.745667
1984    128.246750
1985    101.237667
1986    105.664083
1987     99.833250
1988    151.887417
1989    116.668667
1990    147.191167
1991    124.771333
1992    110.323583
1993    100.854333
1994    165.640750
1995    100.755667
1996    135.944250
1997    153.736667
1998    133.603583
1999    102.973583
2000     91.171833
2001     87.152083
2002     85.406750
dtype: float64

##Describe

In [ ]:
df_rains_2.describe()

,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
count,38.000000,38.000000,38.000000,38.000000,38.000000,38.000000,38.000000,38.000000,38.000000,38.000000,38.000000,38.000000
mean,0.294368,1.101132,1.677184,12.381237,25.059789,337.096395,430.010395,277.088342,201.111711,73.245263,25.223474,6.069632
std,0.640510,1.741219,2.486516,13.671071,22.451708,171.666565,177.976444,132.245356,123.736320,62.936775,31.806180,11.725716
min,0.000000,0.000000,0.000000,0.061000,0.508000,94.088000,84.936000,59.386000,44.574000,1.078000,0.260000,0.000000
25%,0.000000,0.000000,0.000000,2.291750,7.005250,226.180250,322.461000,183.152750,105.936000,21.970500,3.732750,0.000000
50%,0.008000,0.247500,0.596000,5.489500,18.144500,312.100000,415.079500,243.230500,180.966500,49.830500,14.686000,0.496500
75%,0.248000,1.948500,2.076000,19.796500,33.066000,412.568250,555.284250,401.224500,242.433500,115.655750,37.006750,4.151500
max,3.013000,8.410000,9.619000,53.266000,80.539000,773.737000,780.006000,541.579000,613.522000,225.904000,122.809000,37.685000

In [ ]:
#probr con trasposicion
df_rains_2.T

,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,...,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002
Jan,0.029,0.905,0.248,0.318,0.248,0.070,0.000,0.000,0.000,0.000,...,0.000,0.879,0.695,0.016,1.284,0.008,0.000,0.000,0.147,0.231
Feb,0.069,0.000,3.390,3.035,2.524,0.000,0.000,0.029,2.969,0.000,...,0.078,0.325,0.000,2.779,0.000,2.671,1.431,0.170,0.000,0.911
Mar,0.000,0.000,1.320,1.704,0.334,0.001,0.000,0.000,0.234,6.427,...,1.211,2.415,1.770,0.087,0.747,0.073,0.000,0.000,2.178,0.388
Apr,21.667,2.981,13.482,23.307,4.569,16.218,0.812,5.982,3.925,16.864,...,2.062,16.823,25.949,6.318,23.912,0.377,0.642,1.193,1.528,53.266
May,17.859,63.008,11.116,7.441,6.213,68.036,57.691,19.101,14.978,51.209,...,3.248,33.378,23.964,5.134,4.664,15.717,35.828,26.237,7.860,18.430
Jun,102.111,94.088,251.314,179.872,393.682,300.546,297.187,132.413,304.484,148.697,...,234.068,749.030,163.515,453.607,673.831,238.609,415.471,371.328,247.982,509.145
Jul,606.071,481.942,780.006,379.354,678.354,330.502,122.195,338.484,696.024,405.359,...,450.088,707.986,501.461,558.586,422.913,590.663,277.137,265.417,279.547,84.936
Aug,402.521,59.386,181.069,171.979,397.335,283.476,372.693,68.741,256.932,319.651,...,150.278,230.898,114.206,212.489,541.579,362.357,98.616,220.814,189.404,257.205
Sep,69.511,150.624,183.757,219.884,205.413,158.640,286.056,120.415,183.206,288.533,...,101.928,115.509,288.262,203.642,60.477,243.444,225.962,147.196,158.025,78.269
Oct,5.249,1.308,50.404,73.997,24.014,115.758,39.424,1.078,101.805,188.876,...,225.904,116.348,84.359,176.471,31.050,96.324,180.300,38.246,135.518,21.486
Nov,16.232,41.214,8.393,23.326,24.385,0.260,0.554,24.089,5.516,0.260,...,6.240,14.098,4.866,12.202,65.392,52.965,0.263,15.274,23.633,0.614
Dec,22.075,4.132,37.685,2.020,1.951,0.000,0.000,0.143,0.000,0.000,...,35.147,0.000,0.021,0.000,18.991,0.035,0.033,8.187,0.003,0.000

In [ ]:
df_rains_2.T.describe()

,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,...,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002
count,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,...,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000
mean,105.282833,74.965667,126.848667,90.519750,144.918500,106.125583,98.051000,59.206250,130.839417,118.823000,...,100.854333,165.640750,100.755667,135.944250,153.736667,133.603583,102.973583,91.171833,87.152083,85.406750
std,193.803249,136.712641,223.481438,121.542279,226.523917,130.810410,139.314988,100.112325,209.317999,148.032607,...,141.615296,272.170311,154.009795,193.999557,243.543158,189.382612,140.375007,128.438675,108.012656,152.205435
min,0.000000,0.000000,0.248000,0.318000,0.248000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.008000,0.000000,0.000000,0.000000,0.000000
25%,3.954000,1.207250,7.142250,2.781250,2.380750,0.052750,0.000000,0.114500,2.285250,0.195000,...,1.849250,2.031000,1.501250,2.106000,3.819000,0.301000,0.205500,0.937250,1.182750,0.557500
50%,19.763000,22.673000,25.583500,23.316500,15.113500,42.127000,20.118000,12.541500,10.247000,34.036500,...,20.693500,25.100500,24.956500,9.260000,27.481000,34.341000,18.629500,20.755500,15.746500,19.958000
75%,77.661000,70.778000,181.741000,173.952250,252.480250,189.849000,163.160250,81.659500,201.637500,213.790250,...,169.184500,144.985500,126.533250,205.853750,154.772250,239.817750,191.715500,165.600500,165.869750,79.935750
max,606.071000,481.942000,780.006000,379.354000,678.354000,330.502000,372.693000,338.484000,696.024000,405.359000,...,450.088000,749.030000,501.461000,558.586000,673.831000,590.663000,415.471000,371.328000,279.547000,509.145000

In [ ]:
#two decima√±
df_rains_2.T.describe().round(2)

,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,...,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002
count,12.00,12.00,12.00,12.00,12.00,12.00,12.00,12.00,12.00,12.00,...,12.00,12.00,12.00,12.00,12.00,12.00,12.00,12.00,12.00,12.00
mean,105.28,74.97,126.85,90.52,144.92,106.13,98.05,59.21,130.84,118.82,...,100.85,165.64,100.76,135.94,153.74,133.60,102.97,91.17,87.15,85.41
std,193.80,136.71,223.48,121.54,226.52,130.81,139.31,100.11,209.32,148.03,...,141.62,272.17,154.01,194.00,243.54,189.38,140.38,128.44,108.01,152.21
min,0.00,0.00,0.25,0.32,0.25,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.01,0.00,0.00,0.00,0.00
25%,3.95,1.21,7.14,2.78,2.38,0.05,0.00,0.11,2.29,0.20,...,1.85,2.03,1.50,2.11,3.82,0.30,0.21,0.94,1.18,0.56
50%,19.76,22.67,25.58,23.32,15.11,42.13,20.12,12.54,10.25,34.04,...,20.69,25.10,24.96,9.26,27.48,34.34,18.63,20.76,15.75,19.96
75%,77.66,70.78,181.74,173.95,252.48,189.85,163.16,81.66,201.64,213.79,...,169.18,144.99,126.53,205.85,154.77,239.82,191.72,165.60,165.87,79.94
max,606.07,481.94,780.01,379.35,678.35,330.50,372.69,338.48,696.02,405.36,...,450.09,749.03,501.46,558.59,673.83,590.66,415.47,371.33,279.55,509.14

In [ ]:
df_rains_2.sample(10)
df_rains_2.tail(10)

,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
1988,0.000,0.000,0.000,43.570,12.862,186.431,740.613,211.781,613.522,12.375,0.458,1.037
1990,0.004,0.531,0.789,0.274,78.384,423.314,583.557,451.707,69.182,115.349,41.888,1.315
1978,0.061,4.197,4.004,44.623,52.950,403.860,192.399,239.066,139.119,26.711,60.996,0.597
1974,0.000,0.000,6.427,16.864,51.209,148.697,405.359,319.651,288.533,188.876,0.260,0.000
2002,0.231,0.911,0.388,53.266,18.430,509.145,84.936,257.205,78.269,21.486,0.614,0.000
1971,0.000,0.000,0.000,0.812,57.691,297.187,122.195,372.693,286.056,39.424,0.554,0.000
1984,0.000,0.391,5.772,4.997,0.508,367.058,621.607,138.006,229.276,167.164,3.786,0.396
1993,0.000,0.078,1.211,2.062,3.248,234.068,450.088,150.278,101.928,225.904,6.240,35.147
1981,2.257,2.121,0.445,10.817,17.193,360.788,507.155,217.037,361.165,80.018,3.715,0.050
2001,0.147,0.000,2.178,1.528,7.860,247.982,279.547,189.404,158.025,135.518,23.633,0.003

##STRINF

In [ ]:
president_file = pd.read_csv('/content/drive/MyDrive/para borrar/Copia de us_presidents 2.csv')
president_file.head()

,Unnamed: 0,S.No.,start,end,president,prior,party,vice
0,0,1,"April 30, 1789","March 4, 1797",George Washington,Commander-in-Chief of the Continental Army ...,Nonpartisan [13],John Adams
1,1,2,"March 4, 1797","March 4, 1801",John Adams,1st Vice President of the United States,Federalist,Thomas Jefferson
2,2,3,"March 4, 1801","March 4, 1809",Thomas Jefferson,2nd Vice President of the United States,Democratic- Republican,Aaron Burr
3,3,4,"March 4, 1809","March 4, 1817",James Madison,5th United States Secretary of State (1801‚Äì...,Democratic- Republican,George Clinton
4,4,5,"March 4, 1817","March 4, 1825",James Monroe,7th United States Secretary of State (1811‚Äì...,Democratic- Republican,Daniel D. Tompkins

In [ ]:
president_file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45 entries, 0 to 44
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  45 non-null     int64
 1   S.No.       45 non-null     int64
 2   start       45 non-null     object
 3   end         44 non-null     object
 4   president   45 non-null     object
 5   prior       45 non-null     object
 6   party       45 non-null     object
 7   vice        45 non-null     object
dtypes: int64(2), object(6)
memory usage: 2.9+ KB

In [ ]:
president_names = pd.Series(president_file['president'])
president_names

0          George Washington
1                 John Adams
2           Thomas Jefferson
3              James Madison
4               James Monroe
5          John Quincy Adams
6             Andrew Jackson
7           Martin Van Buren
8     William Henry Harrison
9                 John Tyler
10             James K. Polk
11            Zachary Taylor
12          Millard Fillmore
13           Franklin Pierce
14            James Buchanan
15           Abraham Lincoln
16            Andrew Johnson
17          Ulysses S. Grant
18       Rutherford B. Hayes
19         James A. Garfield
20         Chester A. Arthur
21          Grover Cleveland
22         Benjamin Harrison
23          Grover Cleveland
24          William McKinley
25        Theodore Roosevelt
26       William Howard Taft
27            Woodrow Wilson
28         Warren G. Harding
29           Calvin Coolidge
30            Herbert Hoover
31     Franklin D. Roosevelt
32           Harry S. Truman
33      Dwight D. Eisenhower
34           John F. Kennedy
35         Lyndon B. Johnson
36             Richard Nixon
37               Gerald Ford
38              Jimmy Carter
39             Ronald Reagan
40         George H. W. Bush
41              Bill Clinton
42            George W. Bush
43              Barack Obama
44              Donald Trump
Name: president, dtype: object

https://www.w3schools.com/python/python_ref_string.asp

In [ ]:
president_names.upper()

AttributeError: ignored

In [ ]:
#correct way
president_names.str.upper()
president_names.str.lower()

0          GEORGE WASHINGTON
1                 JOHN ADAMS
2           THOMAS JEFFERSON
3              JAMES MADISON
4               JAMES MONROE
5          JOHN QUINCY ADAMS
6             ANDREW JACKSON
7           MARTIN VAN BUREN
8     WILLIAM HENRY HARRISON
9                 JOHN TYLER
10             JAMES K. POLK
11            ZACHARY TAYLOR
12          MILLARD FILLMORE
13           FRANKLIN PIERCE
14            JAMES BUCHANAN
15           ABRAHAM LINCOLN
16            ANDREW JOHNSON
17          ULYSSES S. GRANT
18       RUTHERFORD B. HAYES
19         JAMES A. GARFIELD
20         CHESTER A. ARTHUR
21          GROVER CLEVELAND
22         BENJAMIN HARRISON
23          GROVER CLEVELAND
24          WILLIAM MCKINLEY
25        THEODORE ROOSEVELT
26       WILLIAM HOWARD TAFT
27            WOODROW WILSON
28         WARREN G. HARDING
29           CALVIN COOLIDGE
30            HERBERT HOOVER
31     FRANKLIN D. ROOSEVELT
32           HARRY S. TRUMAN
33      DWIGHT D. EISENHOWER
34           JOHN F. KENNEDY
35         LYNDON B. JOHNSON
36             RICHARD NIXON
37               GERALD FORD
38              JIMMY CARTER
39             RONALD REAGAN
40         GEORGE H. W. BUSH
41              BILL CLINTON
42            GEORGE W. BUSH
43              BARACK OBAMA
44              DONALD TRUMP
Name: president, dtype: object

In [ ]:
#length
president_names.str.len()
president_names.str.len().max()

22

In [ ]:
#president_names.str.startswith('J')
president_names.str.endswith('A')

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36    False
37    False
38    False
39    False
40    False
41    False
42    False
43    False
44    False
Name: president, dtype: bool

In [ ]:
president_names.str.split()

0           [George, Washington]
1                  [John, Adams]
2            [Thomas, Jefferson]
3               [James, Madison]
4                [James, Monroe]
5          [John, Quincy, Adams]
6              [Andrew, Jackson]
7           [Martin, Van, Buren]
8     [William, Henry, Harrison]
9                  [John, Tyler]
10             [James, K., Polk]
11             [Zachary, Taylor]
12           [Millard, Fillmore]
13            [Franklin, Pierce]
14             [James, Buchanan]
15            [Abraham, Lincoln]
16             [Andrew, Johnson]
17          [Ulysses, S., Grant]
18       [Rutherford, B., Hayes]
19         [James, A., Garfield]
20         [Chester, A., Arthur]
21           [Grover, Cleveland]
22          [Benjamin, Harrison]
23           [Grover, Cleveland]
24           [William, McKinley]
25         [Theodore, Roosevelt]
26       [William, Howard, Taft]
27             [Woodrow, Wilson]
28         [Warren, G., Harding]
29            [Calvin, Coolidge]
30             [Herbert, Hoover]
31     [Franklin, D., Roosevelt]
32           [Harry, S., Truman]
33      [Dwight, D., Eisenhower]
34           [John, F., Kennedy]
35         [Lyndon, B., Johnson]
36              [Richard, Nixon]
37                [Gerald, Ford]
38               [Jimmy, Carter]
39              [Ronald, Reagan]
40        [George, H., W., Bush]
41               [Bill, Clinton]
42            [George, W., Bush]
43               [Barack, Obama]
44               [Donald, Trump]
Name: president, dtype: object

#TIME SERIES

In [ ]:
date_pd =  pd.to_datetime('03/01/2020', dayfirst=True)
date_pd
#Sello detiempo

Timestamp('2020-01-03 00:00:00')

In [ ]:
date_1 = pd.date_range(start= date_pd , end= pd.to_datetime('10/01/2020', dayfirst=True) )
date_1

DatetimeIndex(['2020-01-03', '2020-01-04', '2020-01-05', '2020-01-06',
               '2020-01-07', '2020-01-08', '2020-01-09', '2020-01-10'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
date_2 = pd.date_range(start= date_pd, periods = 8)
date_2

DatetimeIndex(['2020-01-03', '2020-01-04', '2020-01-05', '2020-01-06',
               '2020-01-07', '2020-01-08', '2020-01-09', '2020-01-10'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
date_3= pd.date_range( start= date_pd,periods=8 , freq='M')
date_3

DatetimeIndex(['2020-01-31', '2020-02-29', '2020-03-31', '2020-04-30',
               '2020-05-31', '2020-06-30', '2020-07-31', '2020-08-31'],
              dtype='datetime64[ns]', freq='M')

In [ ]:
start_month=date_pd.strftime('%Y-%m')
print(start_month)

2020-01

In [ ]:
date_4= pd.period_range(start=start_month, periods=8, freq='M')
date_4

PeriodIndex(['2020-01', '2020-02', '2020-03', '2020-04', '2020-05', '2020-06',
             '2020-07', '2020-08'],
            dtype='period[M]')

In [ ]:
date_3
how_long = date_3[7] - date_3[0]
print(how_long)

213 days 00:00:00

In [ ]:
how_long = date_3[7].to_period('M') - date_3[0].to_period('M')
print(how_long)

<7 * MonthEnds>

In [ ]:
president_file.head(3)

,Unnamed: 0,S.No.,start,end,president,prior,party,vice
0,0,1,"April 30, 1789","March 4, 1797",George Washington,Commander-in-Chief of the Continental Army ...,Nonpartisan [13],John Adams
1,1,2,"March 4, 1797","March 4, 1801",John Adams,1st Vice President of the United States,Federalist,Thomas Jefferson
2,2,3,"March 4, 1801","March 4, 1809",Thomas Jefferson,2nd Vice President of the United States,Democratic- Republican,Aaron Burr

In [ ]:
dates_president_start = president_file['start']
print(dates_president_start)
print(type(dates_president_start))

0         April 30, 1789
1          March 4, 1797
2          March 4, 1801
3          March 4, 1809
4          March 4, 1817
5          March 4, 1825
6          March 4, 1829
7          March 4, 1837
8          March 4, 1841
9          April 4, 1841
10         March 4, 1845
11         March 4, 1849
12          July 9, 1850
13         March 4, 1853
14         March 4, 1857
15         March 4, 1861
16        April 15, 1865
17         March 4, 1869
18         March 4, 1877
19         March 4, 1881
20    September 19, 1881
21         March 4, 1885
22         March 4, 1889
23         March 4, 1893
24         March 4, 1897
25    September 14, 1901
26         March 4, 1909
27         March 4, 1913
28         March 4, 1921
29        August 2, 1923
30         March 4, 1929
31         March 4, 1933
32        April 12, 1945
33      January 20, 1953
34      January 20, 1961
35     November 22, 1963
36      January 20, 1969
37        August 9, 1974
38      January 20, 1977
39      January 20, 1981
40      January 20, 1989
41      January 20, 1993
42      January 20, 2001
43      January 20, 2009
44      January 20, 2017
Name: start, dtype: object
<class 'pandas.core.series.Series'>

In [ ]:
dates_president_pd = pd.DatetimeIndex(dates_president_start)
print(dates_president_pd)

DatetimeIndex(['1789-04-30', '1797-03-04', '1801-03-04', '1809-03-04',
               '1817-03-04', '1825-03-04', '1829-03-04', '1837-03-04',
               '1841-03-04', '1841-04-04', '1845-03-04', '1849-03-04',
               '1850-07-09', '1853-03-04', '1857-03-04', '1861-03-04',
               '1865-04-15', '1869-03-04', '1877-03-04', '1881-03-04',
               '1881-09-19', '1885-03-04', '1889-03-04', '1893-03-04',
               '1897-03-04', '1901-09-14', '1909-03-04', '1913-03-04',
               '1921-03-04', '1923-08-02', '1929-03-04', '1933-03-04',
               '1945-04-12', '1953-01-20', '1961-01-20', '1963-11-22',
               '1969-01-20', '1974-08-09', '1977-01-20', '1981-01-20',
               '1989-01-20', '1993-01-20', '2001-01-20', '2009-01-20',
               '2017-01-20'],
              dtype='datetime64[ns]', name='start', freq=None)

In [ ]:
how_long_2= dates_president_pd[-1].to_period('Y')- dates_president_pd[0].to_period('Y')
how_long_2

In [ ]:
dates_president_pd.max()

Timestamp('2017-01-20 00:00:00')

In [ ]:
president_names

0          George Washington
1                 John Adams
2           Thomas Jefferson
3              James Madison
4               James Monroe
5          John Quincy Adams
6             Andrew Jackson
7           Martin Van Buren
8     William Henry Harrison
9                 John Tyler
10             James K. Polk
11            Zachary Taylor
12          Millard Fillmore
13           Franklin Pierce
14            James Buchanan
15           Abraham Lincoln
16            Andrew Johnson
17          Ulysses S. Grant
18       Rutherford B. Hayes
19         James A. Garfield
20         Chester A. Arthur
21          Grover Cleveland
22         Benjamin Harrison
23          Grover Cleveland
24          William McKinley
25        Theodore Roosevelt
26       William Howard Taft
27            Woodrow Wilson
28         Warren G. Harding
29           Calvin Coolidge
30            Herbert Hoover
31     Franklin D. Roosevelt
32           Harry S. Truman
33      Dwight D. Eisenhower
34           John F. Kennedy
35         Lyndon B. Johnson
36             Richard Nixon
37               Gerald Ford
38              Jimmy Carter
39             Ronald Reagan
40         George H. W. Bush
41              Bill Clinton
42            George W. Bush
43              Barack Obama
44              Donald Trump
Name: president, dtype: object

In [ ]:
series_president= pd.Series(president_names.values, index=dates_president_pd)
series_president

start
1789-04-30         George Washington
1797-03-04                John Adams
1801-03-04          Thomas Jefferson
1809-03-04             James Madison
1817-03-04              James Monroe
1825-03-04         John Quincy Adams
1829-03-04            Andrew Jackson
1837-03-04          Martin Van Buren
1841-03-04    William Henry Harrison
1841-04-04                John Tyler
1845-03-04             James K. Polk
1849-03-04            Zachary Taylor
1850-07-09          Millard Fillmore
1853-03-04           Franklin Pierce
1857-03-04            James Buchanan
1861-03-04           Abraham Lincoln
1865-04-15            Andrew Johnson
1869-03-04          Ulysses S. Grant
1877-03-04       Rutherford B. Hayes
1881-03-04         James A. Garfield
1881-09-19         Chester A. Arthur
1885-03-04          Grover Cleveland
1889-03-04         Benjamin Harrison
1893-03-04          Grover Cleveland
1897-03-04          William McKinley
1901-09-14        Theodore Roosevelt
1909-03-04       William Howard Taft
1913-03-04            Woodrow Wilson
1921-03-04         Warren G. Harding
1923-08-02           Calvin Coolidge
1929-03-04            Herbert Hoover
1933-03-04     Franklin D. Roosevelt
1945-04-12           Harry S. Truman
1953-01-20      Dwight D. Eisenhower
1961-01-20           John F. Kennedy
1963-11-22         Lyndon B. Johnson
1969-01-20             Richard Nixon
1974-08-09               Gerald Ford
1977-01-20              Jimmy Carter
1981-01-20             Ronald Reagan
1989-01-20         George H. W. Bush
1993-01-20              Bill Clinton
2001-01-20            George W. Bush
2009-01-20              Barack Obama
2017-01-20              Donald Trump
dtype: object

In [ ]:
series_president['1850':'1902']

start
1850-07-09       Millard Fillmore
1853-03-04        Franklin Pierce
1857-03-04         James Buchanan
1861-03-04        Abraham Lincoln
1865-04-15         Andrew Johnson
1869-03-04       Ulysses S. Grant
1877-03-04    Rutherford B. Hayes
1881-03-04      James A. Garfield
1881-09-19      Chester A. Arthur
1885-03-04       Grover Cleveland
1889-03-04      Benjamin Harrison
1893-03-04       Grover Cleveland
1897-03-04       William McKinley
1901-09-14     Theodore Roosevelt
dtype: object

In [ ]:
#df_toy = df_toy.fillna({'columna':0,'columna_dos'} : -1)

In [ ]:
#filas  por identifiacador o indice 
#df.iloc[2]    Indice de la fila
#df.iloc[2:10] hasta le idice 9 
#df.iloc['fila']
#df.iloc[[1,2,4]]

#df.loc['hola']
#df.loc['hola']

#filas y columnas con iloc
#df.loc['fila]['columnas]
#df.iloc[][]

In [ ]:
#filas 
df['df[']