<a href="https://colab.research.google.com/github/calosos/py_resumenes_codigos/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
import pandas as pd
#import numpy as np#
#import matplotlib as ptl#

In [ ]:
#!pip install nombre_del_paquete

Así se pueden vel el índice
Se puede modificar el indice
Se accede a uníndice con .loc

In [ ]:

serie = pd.Series([4,7,6,2], index = [10,11,12,13])
serie.loc[12]

6

In [ ]:

serie_inidces_str = pd.Series([3,2,4,2], index = ['a','b','c','f'])
serie_inidces_str #.loc[12]

a    3
b    2
c    4
f    2
dtype: int64

adifar un valor nuevo al un índice

In [ ]:
serie_inidces_str.loc['b']=100
serie_inidces_str

a      3
b    100
c      4
f      2
dtype: int64

In [ ]:
#acceder a varios indices
serie_inidces_str.loc[['b','c']]

b    100
c      4
dtype: int64

In [ ]:
serie_dos = pd.Series([4,6,8,2,4,8,6,21,8,4])

In [ ]:
serie_dos.loc[5:]#DEsde el 5 hasta el ultimo
serie_dos.loc[:5]#Delsde el primero hasta el 5
serie_dos.loc[3:7]#Inicio Fin

3     2
4     4
5     8
6     6
7    21
dtype: int64

In [10]:
serie_2 = pd.Series([1, 2, 3, 4, 5, 6, 7, 8], index=['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])

serie_2

a    1
b    2
c    3
d    4
e    5
f    6
g    7
h    8
dtype: int64

In [11]:
serie_2.loc['c':'f']

c    3
d    4
e    5
f    6
dtype: int64

In [ ]:
#Una Serie de String es tipo object
serie_tres = pd.Series(['a','b', 'c', 'd'])
serie_cuatro =pd.Series(['a',True,'gola',2,2.4])
serie_cuatro

0       a
1    True
2    gola
3       2
4     2.4
dtype: object

In [6]:
datos = {
    "Juan": 45,
    "Pepe": 56,
    "Alfonsina": 12,
    "Jenny": 49,
    "Marco P.": 12
}

serie_4 = pd.Series(datos)
serie_4

Juan         45
Pepe         56
Alfonsina    12
Jenny        49
Marco P.     12
dtype: int64

In [8]:
ejecutivo_1 = 'Marco P.'
ejecutivo_2 = 'Jenny'
ejecutivo_3 = 'Britney Baby'
ejecutivo_4 = 'Pepe Guardabosques'
ejecutivo_5 = 'Lombardo El Destructor'

#sueldos =pd.Series([ejecutivo_1, ejecutivo_2, ejecutivo_3,ejecutivo_4, ejecutivo_5])
sueldos =pd.Series([20000, 32000, 15000,26000, 33000], index=[ejecutivo_1, ejecutivo_2, ejecutivo_3,ejecutivo_4, ejecutivo_5])

In [9]:
print('== Sueldos de los principales ejecutivos de EyePoker Inc. ==\n')

print(f'{("Ejecutivo"):25} | {("Sueldo")}')
print('----------------------------------------')
print(f'{ejecutivo_1:25} | ${(sueldos.loc[ejecutivo_1])} MXN')
print(f'{ejecutivo_2:25} | ${(sueldos.loc[ejecutivo_2])} MXN')
print(f'{ejecutivo_3:25} | ${(sueldos.loc[ejecutivo_3])} MXN')
print(f'{ejecutivo_4:25} | ${(sueldos.loc[ejecutivo_4])} MXN')
print(f'{ejecutivo_5:25} | ${(sueldos.loc[ejecutivo_5])} MXN')

== Sueldos de los principales ejecutivos de EyePoker Inc. ==

Ejecutivo                 | Sueldo
----------------------------------------
Marco P.                  | $20000 MXN
Jenny                     | $32000 MXN
Britney Baby              | $15000 MXN
Pepe Guardabosques        | $26000 MXN
Lombardo El Destructor    | $33000 MXN

In [ ]:
data = {
    'Nombre': ['woopsie Doopsies', 'Omega-3' , 'Justin Bieber' , 'La Twinkie', 'Rosaberta' ],
    'Intensidad(1-10)': [5,3, 8, 7, 2],
    'Es Parte de Nuestra Galaxia':[True, False , False , True, True],
    'Coleccionador que la encontró': ['Marco P.', 'Marco P.' , 'Jenny' , 'Marco P.', 'Jenny' ]
}

In [ ]:
data

{'Coleccionador que la encontró': ['Marco P.',
  'Marco P.',
  'Jenny',
  'Marco P.',
  'Jenny'],
 'Es Parte de Nuestra Galaxia': [True, False, False, True, True],
 'Intensidad(1-10)': [5, 3, 8, 7, 2],
 'Nombre': ['woopsie Doopsies',
  'Omega-3',
  'Justin Bieber',
  'La Twinkie',
  'Rosaberta']}

In [ ]:
df_uno = pd.DataFrame.from_dict(data)
df_uno

,Nombre,Intensidad(1-10),Es Parte de Nuestra Galaxia,Coleccionador que la encontró
0,woopsie Doopsies,5,True,Marco P.
1,Omega-3,3,False,Marco P.
2,Justin Bieber,8,False,Jenny
3,La Twinkie,7,True,Marco P.
4,Rosaberta,2,True,Jenny

In [ ]:
df_uno['Intensidad(1-10)']
#Nuestra Serie tiene una nueva propiedad llamada Name. 
#Esta propiedad es el nombre de la Serie 
#y cuando esa Serie está en un DataFrame se convierte en el nombre de la columna.

0    5
1    3
2    8
3    7
4    2
Name: Intensidad(1-10), dtype: int64

In [ ]:
df_uno[['Intensidad(1-10)','Nombre']]#para columnas

   Intensidad(1-10)            Nombre
0                 5  woopsie Doopsies
1                 3           Omega-3
2                 8     Justin Bieber
3                 7        La Twinkie
4                 2         Rosaberta

In [ ]:
df_uno.loc[[1,2]]#Para con indice
df_uno.loc[1,'Nombre'] #Indice y lolumna ####LOc para indices
df_uno.loc[[1,2],['Nombre', 'Intensidad(1-10)']]

          Nombre  Intensidad(1-10)
1        Omega-3                 3
2  Justin Bieber                 8

In [ ]:
coleccionaadores_correcciones = pd.Series([ 'Jocololito Gutiérrez', 'Marco P.', 'Jenny','Jocololito Gutiérrez','Jenny' ])
df_uno['Coleccionador que la encontró']=coleccionaadores_correcciones
df_uno

,Nombre,Intensidad(1-10),Es Parte de Nuestra Galaxia,Coleccionador que la encontró
0,woopsie Doopsies,5,True,Jocololito Gutiérrez
1,Omega-3,3,False,Marco P.
2,Justin Bieber,8,False,Jenny
3,La Twinkie,7,True,Jocololito Gutiérrez
4,Rosaberta,2,True,Jenny

In [ ]:
precio_en_rupias = pd.Series([25000, 500000, 456000, 12000, 45000], index=df_uno.index)
df_uno['Precio en rupias']=precio_en_rupias
df_uno

,Nombre,Intensidad(1-10),Es Parte de Nuestra Galaxia,Coleccionador que la encontró,Precio en rupias
0,woopsie Doopsies,5,True,Jocololito Gutiérrez,25000
1,Omega-3,3,False,Marco P.,500000
2,Justin Bieber,8,False,Jenny,456000
3,La Twinkie,7,True,Jocololito Gutiérrez,12000
4,Rosaberta,2,True,Jenny,45000

In [ ]:
df_uno.index

RangeIndex(start=0, stop=5, step=1)

In [ ]:
#Eliminar columna
df_uno.drop(columns =['Es Parte de Nuestra Galaxia','Precio en rupias'])

             Nombre  Intensidad(1-10) Coleccionador que la encontró
0  woopsie Doopsies                 5          Jocololito Gutiérrez
1           Omega-3                 3                      Marco P.
2     Justin Bieber                 8                         Jenny
3        La Twinkie                 7          Jocololito Gutiérrez
4         Rosaberta                 2                         Jenny

In [ ]:
df_uno

df_dropped =df_uno.drop(columns =['Es Parte de Nuestra Galaxia','Precio en rupias'])
df_dropped

             Nombre  Intensidad(1-10) Coleccionador que la encontró
0  woopsie Doopsies                 5          Jocololito Gutiérrez
1           Omega-3                 3                      Marco P.
2     Justin Bieber                 8                         Jenny
3        La Twinkie                 7          Jocololito Gutiérrez
4         Rosaberta                 2                         Jenny

In [ ]:
import json

In [1]:
from google.colab import files

uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

In [ ]:
df_uno.shape #devuelve filas y columnas(filas,columnas)
df_uno.head()#DEvuelve los primeros 5 registros, se le puede agregar un número como parametro y devuelve n registros
df_uno.tail()#DEvuelve los pultimos 5 registros, se le puede agregar un número como parametro y devuelve n registros
df_uno.columns#Devuelve el nombre de las columnas
df_uno.dtypes#Nombnres de colunas y tipos de datos

In [6]:
import json
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [14]:

f= open('/content/drive/MyDrive/Datasets/zomato_reviews-clean.json','r')

In [15]:
f

In [16]:
jaso_data = json.load(f)

In [17]:
f.close()

In [21]:
df = pd.DataFrame.from_dict(jaso_data)
df

,has_online_delivery,price_range,currency,name,cuisines,location.address,location.city,user_rating.rating_text
0,1,3,Rs.,Hauz Khas Social,"Continental, American, Asian, North Indian","9-A & 12, Hauz Khas Village, New Delhi",New Delhi,Very Good
1,0,3,Rs.,Qubitos - The Terrace Cafe,"Thai, European, Mexican, North Indian, Chinese...","C-7, Vishal Enclave, Opposite Metro Pillar 417...",New Delhi,Excellent
2,1,2,Rs.,The Hudson Cafe,"Cafe, Italian, Continental, Chinese","2524, 1st Floor, Hudson Lane, Delhi University...",New Delhi,Very Good
3,0,3,Rs.,Summer House Cafe,"Italian, Continental","1st Floor, DDA Shopping Complex, Aurobindo Pla...",New Delhi,Very Good
4,0,3,Rs.,38 Barracks,"North Indian, Italian, Asian, American","M-38, Outer Circle, Connaught Place, New Delhi",New Delhi,Very Good
...,...,...,...,...,...,...,...,...
1175,0,3,£,The Boozy Cow,"Burger, Grill","17 Frederick Street, New Town, Edinburgh EH2 2EY",Edinburgh,Very Good
1176,0,3,£,La Favorita,Italian,"325-331 Leith Walk, Leith, Edinburgh EH6 8SA",Edinburgh,Excellent
1177,0,3,£,Roseleaf Bar Cafe,"Scottish, Cafe","23-24 Sandport Place, Leith, Edinburgh EH6 6EW",Edinburgh,Excellent
1178,0,3,£,Civerinos,"Pizza, Italian","5 Hunter Square, Royal Mile, Old Town, Edinbur...",Edinburgh,Good
1179,0,3,£,The Hanging Bat,American,"133 Lothian Road, Old Town, Edinburgh EH3 9AD",Edinburgh,Good

In [22]:
df.shape

(1180, 8)

In [25]:
df.head(5)

,has_online_delivery,price_range,currency,name,cuisines,location.address,location.city,user_rating.rating_text
0,1,3,Rs.,Hauz Khas Social,"Continental, American, Asian, North Indian","9-A & 12, Hauz Khas Village, New Delhi",New Delhi,Very Good
1,0,3,Rs.,Qubitos - The Terrace Cafe,"Thai, European, Mexican, North Indian, Chinese...","C-7, Vishal Enclave, Opposite Metro Pillar 417...",New Delhi,Excellent
2,1,2,Rs.,The Hudson Cafe,"Cafe, Italian, Continental, Chinese","2524, 1st Floor, Hudson Lane, Delhi University...",New Delhi,Very Good
3,0,3,Rs.,Summer House Cafe,"Italian, Continental","1st Floor, DDA Shopping Complex, Aurobindo Pla...",New Delhi,Very Good
4,0,3,Rs.,38 Barracks,"North Indian, Italian, Asian, American","M-38, Outer Circle, Connaught Place, New Delhi",New Delhi,Very Good

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1180 entries, 0 to 1179
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   has_online_delivery      1180 non-null   int64
 1   price_range              1180 non-null   int64
 2   currency                 1180 non-null   object
 3   name                     1180 non-null   object
 4   cuisines                 1180 non-null   object
 5   location.address         1180 non-null   object
 6   location.city            1180 non-null   object
 7   user_rating.rating_text  1180 non-null   object
dtypes: int64(2), object(6)
memory usage: 115.3+ KB