<a href="https://colab.research.google.com/github/calosos/py_resumenes_codigos/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

Así se pueden vel el índice
Se puede modificar el indice
Se accede a uníndice con .loc

In [6]:

serie = pd.Series([4,7,6,2], index = [10,11,12,13])
serie.loc[12]

6

In [12]:

serie_inidces_str = pd.Series([3,2,4,2], index = ['a','b','c','f'])
serie_inidces_str #.loc[12]

a    3
b    2
c    4
f    2
dtype: int64

adifar un valor nuevo al un índice

In [14]:
serie_inidces_str.loc['b']=100
serie_inidces_str

a      3
b    100
c      4
f      2
dtype: int64

In [16]:
#acceder a varios indices
serie_inidces_str.loc[['b','c']]

b    100
c      4
dtype: int64

In [18]:
serie_dos = pd.Series([4,6,8,2,4,8,6,21,8,4])

In [22]:
serie_dos.loc[5:]#DEsde el 5 hasta el ultimo
serie_dos.loc[:5]#Delsde el primero hasta el 5
serie_dos.loc[3:7]#Inicio Fin

3     2
4     4
5     8
6     6
7    21
dtype: int64

In [27]:
#Una Serie de String es tipo object
serie_tres = pd.Series(['a','b', 'c', 'd'])
serie_cuatro =pd.Series(['a',True,'gola',2,2.4])
serie_cuatro

0       a
1    True
2    gola
3       2
4     2.4
dtype: object

In [29]:
data = {
    'Nombre': ['woopsie Doopsies', 'Omega-3' , 'Justin Bieber' , 'La Twinkie', 'Rosaberta' ],
    'Intensidad(1-10)': [5,3, 8, 7, 2],
    'Es Parte de Nuestra Galaxia':[True, False , False , True, True],
    'Coleccionador que la encontró': ['Marco P.', 'Marco P.' , 'Jenny' , 'Marco P.', 'Jenny' ]
}

In [30]:
data

{'Coleccionador que la encontró': ['Marco P.',
  'Marco P.',
  'Jenny',
  'Marco P.',
  'Jenny'],
 'Es Parte de Nuestra Galaxia': [True, False, False, True, True],
 'Intensidad(1-10)': [5, 3, 8, 7, 2],
 'Nombre': ['woopsie Doopsies',
  'Omega-3',
  'Justin Bieber',
  'La Twinkie',
  'Rosaberta']}

In [32]:
df_uno = pd.DataFrame.from_dict(data)
df_uno

,Nombre,Intensidad(1-10),Es Parte de Nuestra Galaxia,Coleccionador que la encontró
0,woopsie Doopsies,5,True,Marco P.
1,Omega-3,3,False,Marco P.
2,Justin Bieber,8,False,Jenny
3,La Twinkie,7,True,Marco P.
4,Rosaberta,2,True,Jenny

In [35]:
df_uno['Intensidad(1-10)']
#Nuestra Serie tiene una nueva propiedad llamada Name. 
#Esta propiedad es el nombre de la Serie 
#y cuando esa Serie está en un DataFrame se convierte en el nombre de la columna.

0    5
1    3
2    8
3    7
4    2
Name: Intensidad(1-10), dtype: int64

In [38]:
df_uno[['Intensidad(1-10)','Nombre']]

   Intensidad(1-10)            Nombre
0                 5  woopsie Doopsies
1                 3           Omega-3
2                 8     Justin Bieber
3                 7        La Twinkie
4                 2         Rosaberta

In [42]:
df_uno.loc[[1,2]]
df_uno.loc[1,'Nombre']
df_uno.loc[[1,2],['Nombre', 'Intensidad(1-10)']]

          Nombre  Intensidad(1-10)
1        Omega-3                 3
2  Justin Bieber                 8

In [45]:
coleccionaadores_correcciones = pd.Series([ 'Jocololito Gutiérrez', 'Marco P.', 'Jenny','Jocololito Gutiérrez','Jenny' ])
df_uno['Coleccionador que la encontró']=coleccionaadores_correcciones
df_uno

,Nombre,Intensidad(1-10),Es Parte de Nuestra Galaxia,Coleccionador que la encontró
0,woopsie Doopsies,5,True,Jocololito Gutiérrez
1,Omega-3,3,False,Marco P.
2,Justin Bieber,8,False,Jenny
3,La Twinkie,7,True,Jocololito Gutiérrez
4,Rosaberta,2,True,Jenny

In [48]:
precio_en_rupias = pd.Series([25000, 500000, 456000, 12000, 45000], index=df_uno.index)
df_uno['Precio en rupias']=precio_en_rupias
df_uno

,Nombre,Intensidad(1-10),Es Parte de Nuestra Galaxia,Coleccionador que la encontró,Precio en rupias
0,woopsie Doopsies,5,True,Jocololito Gutiérrez,25000
1,Omega-3,3,False,Marco P.,500000
2,Justin Bieber,8,False,Jenny,456000
3,La Twinkie,7,True,Jocololito Gutiérrez,12000
4,Rosaberta,2,True,Jenny,45000

In [50]:
df_uno.index

RangeIndex(start=0, stop=5, step=1)

In [52]:
#Eliminar columna
df_uno.drop(columns =['Es Parte de Nuestra Galaxia','Precio en rupias'])

             Nombre  Intensidad(1-10) Coleccionador que la encontró
0  woopsie Doopsies                 5          Jocololito Gutiérrez
1           Omega-3                 3                      Marco P.
2     Justin Bieber                 8                         Jenny
3        La Twinkie                 7          Jocololito Gutiérrez
4         Rosaberta                 2                         Jenny

In [56]:
df_uno

df_dropped =df_uno.drop(columns =['Es Parte de Nuestra Galaxia','Precio en rupias'])
df_dropped

             Nombre  Intensidad(1-10) Coleccionador que la encontró
0  woopsie Doopsies                 5          Jocololito Gutiérrez
1           Omega-3                 3                      Marco P.
2     Justin Bieber                 8                         Jenny
3        La Twinkie                 7          Jocololito Gutiérrez
4         Rosaberta                 2                         Jenny

In [59]:
import json

In [68]:
from google.colab import files

uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

KeyboardInterrupt: ignored

In [ ]:
df_uno.shape #devuelve filas y columnas(filas,columnas)
df_uno.head()#DEvuelve los primeros 5 registros, se le puede agregar un número como parametro y devuelve n registros
df_uno.tail()#DEvuelve los pultimos 5 registros, se le puede agregar un número como parametro y devuelve n registros
df_uno.columns#Devuelve el nombre de las columnas
df_uno.dtypes#Nombnres de colunas y tipos de datos