<a href="https://colab.research.google.com/github/calosos/py_resumenes_codigos/blob/main/Python_bases.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
variable = 16 #Asignación de variables
variable_dos = 3
#Operación básicas
print(f'{variable}+{variable_dos}={variable+variable_dos}  | Suma ')
print(f'{variable}-{variable_dos}={variable-variable_dos}  | Resta ')   
print(f'{variable}*{variable_dos}={variable*variable_dos}  | Multiplicación') 
print(f'{variable}**{variable_dos}={variable*variable_dos} | Potencia') 
print(f'{variable}/{variable_dos}={variable+variable_dos}  | Divición') 
print(f'{variable}//{variable_dos}={variable+variable_dos} | Divición con resultado entero')
print(f'{variable}%{variable_dos}={variable+variable_dos}  | Operador Módulo')

16+3=19  | Suma
16-3=13  | Resta
16*3=48  | Multiplicación
16**3=48 | Potencia
16/3=19  | Divición
16//3=19 | Divición con resultado entero
16%3=19  | Operador Módulo

In [1]:
variable_int = 5
variable_float= 3.4
variable_bool= True
variable_bool_dos= False
variable_str = 's'
variable_str_dos= 'Cadena'

print(f'Vaiable entera: {variable_int}')
print(type(variable_int))
print(f'Vaiable flotante: {variable_float}')
print(type(variable_float))
print(f'Vaiable boolena Verdadera: {variable_bool}')
print(type(variable_bool))
print(f'Vaiable boolena Falsa: {variable_bool_dos}')
print(type(variable_bool_dos))
print(f'Vaiable caracter: {variable_str}')
print(type(variable_str))
print(f'Vaiable entera: {variable_str_dos}')
print(type(variable_str_dos))

Vaiable entera: 5
<class 'int'>
Vaiable flotante: 3.4
<class 'float'>
Vaiable boolena Verdadera: True
<class 'bool'>
Vaiable boolena Falsa: False
<class 'bool'>
Vaiable caracter: s
<class 'str'>
Vaiable entera: Cadena
<class 'str'>

In [4]:
c=0.35
c.as_integer_ratio()

(3152519739159347, 9007199254740992)

In [6]:
import decimal
from decimal import Decimal
decimal.getcontext()

Context(prec=28, rounding=ROUND_HALF_EVEN, Emin=-999999, Emax=999999, capitals=1, clamp=0, flags=[], traps=[InvalidOperation, DivisionByZero, Overflow])

In [8]:
d=Decimal(1)/Decimal(11)

Decimal('0.09090909090909090909090909091')

In [10]:
decimal.getcontext().prec=50 #Prec para que devuelva más decimales
e=Decimal(1)/Decimal(11)
e

Decimal('0.090909090909090909090909090909090909090909090909091')

In [2]:

num_int= int(variable_float)
cadena = str(variable_float)
print(f'Convertir {variable_float}, {type(variable_float)} en entero  | {num_int} tipo:{type(num_int)}')
print(f'Convertir {variable_float}, {type(variable_float)} en cadena  | {cadena} tipo: {type(cadena)}')

Convertir 3.4, <class 'float'> en entero  | 3 tipo:<class 'int'>
Convertir 3.4, <class 'float'> en cadena  | 3.4 tipo: <class 'str'>

In [ ]:
var_otr = int("2")
print(f'{var_otr}, {type(var_otr)}')

2, <class 'int'>

In [ ]:
var_uno = 4
var_dos = 3 
var_tres = 7

print(f'{var_tres} es Igual que {var_tres} : {var_tres==var_tres}')
print(f'{var_tres} es Mayor que {var_uno} : {var_tres>var_uno}')
print(f'{var_uno} es Menor que {var_tres} : {var_uno<var_tres}')
print(f'{var_tres} es Mayor o Igual que {var_uno} : {var_tres>=var_uno}')
print(f'{var_uno} es Menor o Igual que {var_tres} : {var_uno<var_tres}')
print(f'{var_uno} es Diferente {var_tres} : {var_uno != var_tres}')

7 es Igual que 7 : True
7 es Mayor que 4 : True
4 es Menor que 7 : True
7 es Mayor o Igual que 4 : True
4 es Menor o Igual que 7 : True
4 es Diferente 7 : True

In [ ]:
dato_uno = int(input('Primer número: '))
dato_dos = int(input('Segundo número: '))
if dato_uno > dato_dos:
  print(f'{dato_uno} es mayor que {dato_dos} ')
elif dato_uno < dato_dos:
  print(f'{dato_uno} es menor que {dato_dos} ')
else:
  print(f'{dato_uno} es igual {dato_dos} ')

Primer número: 4
Segundo número: 4
4 es igual 4

Si las ventas son mayores a $1,000,000 el bono será de 20% del sueldo; si son entre $700,000 y $1,000,000 el bono será de 15% del sueldo; entre $400,000 y $700,000 el bono será de 10% del sueldo; entre $100,00 y 400,000 el bono será de 5% del sueldo; y debajo de $100,000 el bono será del 1% del sueldo.

In [ ]:
ventas_anuales_totales = float(input('Ventas Totales Anuales: '))
sueldo = float(input('Sueldo Del Empleado'))
if ventas_anuales_totales > 1000000 :
  bono = sueldo * 0.20 
  sueldo_final = bono + sueldo
elif  1000000 >= ventas_anuales_totales >=700000:
  bono = sueldo * 0.15 
  sueldo_final = bono + sueldo
elif 700000 > ventas_anuales_totales >= 400000:
  bono = sueldo * 0.10
  sueldo_final = bono + sueldo
elif 400000 > ventas_anuales_totales >= 100000:
  bono = sueldo * 0.05
  sueldo_final = bono + sueldo
elif ventas_anuales_totales < 100000 :
  bono = sueldo * 0.01
  sueldo_final = bono + sueldo
print(f'Tu sueldo es ${sueldo:.2f}; tu bono es de ${bono:.2f}; y el total de sueldo con el bono incluido es de ${sueldo_final:.2f}')

Ventas Totales Anuales: 750000
Sueldo Del Empleado10000
Tu sueldo es $10000.00; tu bono es de $1500.00; y el total de sueldo con el bono incluido es de $11500.00

In [12]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [15]:
i = 0
while i < 4 : 
  print('Condition treu, i = ', i)
  i+=1

Condition treu, i =  0
Condition treu, i =  1
Condition treu, i =  2
Condition treu, i =  3

In [21]:
f='this is a string object'

In [27]:
f.capitalize() #solo es un visata, no guarda los cambios

'this is a string object'

In [25]:
f.split()

['this', 'is', 'a', 'string', 'object']

In [30]:
f.find('string')

10

In [31]:
f.find('ola') #Si no esta regresa -1

-1

In [ ]:
t.replace(' ',|)